<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<!-- build:css(.) styles/vendor.css -->
		<link rel="stylesheet" href="bower_components/ionic/release/css/ionic.css">
		<!-- bower:css -->
		<!-- endbower -->
		<!-- endbuild -->
		<!-- build:css(.tmp) styles/main.css -->
		<link rel="stylesheet" href="styles/reset.css">
		<link rel="stylesheet" href="styles/style.css">
		<link rel="stylesheet" href="styles/main.css">
		<!-- endbuild -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300,700,800' rel='stylesheet' type='text/css'>
	</head>
	<body ng-app="clientApp" ng-controller="MainCtrl">
		<div class="login-page" ng-class="{'login-hide':loginHidden}">
			<div class="bringup-name">
				BRINGUP
			</div>
			<div class="bringup-logo">
				
			</div>
			<a class="button button-positive button-block" ng-click="loginHide()">
				<i class="icon ion-social-facebook"></i> LOGIN WITH FACEBOOK
			</a>
		</div>
		<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

		<!-- Add your site or application content here -->
		<ion-tabs class="tabs-positive tabs-icon-only" >
			<ion-tab title="Message"   overflow-scroll="true" icon-on="ion-ios7-chatboxes" icon-off="ion-ios7-chatboxes-outline" badge="2">
				<!-- Tab 1 content -->
				<ion-content class="timeline-container" scroll="true" >
					<section id="cd-timeline" class="cd-container">
							<div class="cd-timeline-block" ng-repeat="post in posts" >
								<div class="cd-timeline-img {{post.iconColor}}">
									<i class="icon {{post.icon}}"></i>
								</div> <!-- cd-timeline-img -->
								<div class="cd-timeline-content"ng-class="{'post-active': post.active, 'post-approved': approved}">
									<div class="cd-date upbringing-date">{{post.date | date:"MM/dd/yyyy 'at' h:mma"}}</div>
									<h2 class="upbringing-title">{{post.name}}</h2>
									<p>{{post.details}}</p>
									<div class="badge-image" ng-if="post.badge" style="background:url('images/badges/{{post.badge}}')">
									</div>
									<div class="check-mark" style="visibility: hidden;">
										<i class="icon ion-checkmark-circled"></i>
									</div>
									<div class="button-bar">
										<a href="#0" class="button button-{{button.class}} " ng-click="{{button.function}}" ng-repeat="button in post.buttons"  ng-if="post.active" onclick="disappear(this)">{{button.name}}</a>
									</div>

								</div> <!-- cd-timeline-content -->
							</div> <!-- cd-timeline-block -->
						</section> <!-- cd-timeline -->
				</ion-content>

			</ion-tab>
			<ion-tab title="Calendar" icon-on="ion-ios7-calendar" icon-off="ion-ios7-calendar-outline">
				<!-- Tab 2 content -->
				<iframe src="https://www.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=signagely.com_2epssl4n8hma9ekrj2a71a9pfo%40group.calendar.google.com&amp;color=%23711616&amp;ctz=America%2FChicago" style=" border-width:0 " width="100%" height="80%" frameborder="0" scrolling="no"></iframe>
			</ion-tab>
			<ion-tab  title="Awards" icon-on="ion-ios7-star" icon-off="ion-ios7-star-outline">
				<!-- Tab 3 content -->
					<ion-header-bar class="bar bar-header bar-positive">
						<h1 class="title">Your Badges</h1>
					</ion-header-bar>
				<ion-content class="has-header">
					<div class="row">
						<div class="col col-25">
							<img class="full-image" src="images/badges/Award-512.png">
						</div>
						<div class="col col-25">
							<img class="full-image" src="images/badges/Wiggles-Badge.png">
						</div>
						<div class="col col-25">
							<img class="full-image" src="images/badges/birthday_badge.png">
						</div>
						<div class="col col-25">
							<img class="full-image" src="images/badges/good_parents.png">
						</div>
					</div>
					<div class="row">
						<div class="col col-25">
							<img class="full-image" src="images/badges/travel_kid.png">
						</div>
						<div class="col col-25">
							<img class="full-image" src="images/badges/punctual_award.jpg">
						</div>
					</div>
				</ion-content>

			</ion-tab>

		</ion-tabs>

<!-- modal yo -->
		<script id="templates/modal.html" type="text/ng-template">
				<ion-modal-view>
					<ion-header-bar class="bar bar-header bar-positive">
						<h1 class="title">Reply</h1>
						<button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
					</ion-header-bar>
	<div class="bar bar-subheader">
  <p class="title">select the best answer</p>
</div>
					<ion-content class="padding has-subheader">
						<div class="card">
							<div class="item item-text-wrap" ng-click="modal.hide()">
								Can we do a later time?
							</div>
						</div>
						<div class="card">
							<div class="item item-text-wrap" ng-click="modal.hide()">
								Can we do an earlier time?
							</div>
						</div>
					</ion-content>
					<ion-footer class="bar bar-footer bar-dark item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Add Note to Journal">
  </label>
  <button class="button button-clear" ng-click="modal.hide()">
    Save
  </button>
					</ion-footer>
				</ion-modal-view>
		</script>
		<script type="text/javascript">
            function disappear(obj) {
                obj.parentNode.style.display = "none";
                var elem = null;
                var grandpa = obj.parentNode.parentNode;
                for (var i=0; i<grandpa.childNodes.length; i++) {
                	if (grandpa.childNodes[i].className == "check-mark") {
                		elem = grandpa.childNodes[i];
                		break;
                	}
                }
                grandpa.style.backgroundColor = "#B2EA57";
                elem.style.visibility = "visible";
                elem.style.fontSize="100px";
                elem.style.width="100%";
                elem.style.textAlign="center";
            }

        </script>
		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
															})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-X');
			ga('send', 'pageview');
		</script>

		<!-- build:js(.) scripts/oldieshim.js -->
		<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.js"></script>
<![endif]-->
		<!-- endbuild -->

		<!-- build:js(.) scripts/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/ionic/release/js/ionic.bundle.js"></script>
		<script src="bower_components/angular-resource/angular-resource.js"></script>
		<script src="bower_components/angular-cookies/angular-cookies.js"></script>
		<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
		<script src="bower_components/angular-animate/angular-animate.js"></script>
		<script src="bower_components/angular-touch/angular-touch.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app}) scripts/scripts.js -->
		<script src="scripts/app.js"></script>
		<script src="scripts/controllers/main.js"></script>
		<!-- endbuild -->
	</body>
</html>
